body {
    background-color: #ffffff;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #111;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(17, 17, 17, 0.6));
}

nav ul li a:hover {
    color: #ccc;
}

/* Adicione uma sombra sutil ao header */
header {
    background: #111;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(75, 0, 130, 0.5);
}

.bem-vindo {
            text-shadow: 0 2px 4px rgba(75, 0, 130, 0.5);
            text-align: center;
            max-width: 120px;
            margin: 0 auto;
            margin-bottom: 10px;
            background-color: rgba(17, 17, 17, 0.6);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(75, 0, 130, 0.5);
            color: #fff; /* Mantém o texto branco */
	
}
.sobre-mim {
            text-shadow: 0 2px 4px rgba (17, 17, 17, 1);
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 3px;
            background-color: rgba(75, 0, 130, 0.3);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(17, 17, 17, 0.6);
            color: #fff /* Mantém o texto branco */
}

.curricu-lo {
            text-shadow: 0 2px 4px rgba (17, 17, 17, 1);
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 3px;
            background-color: rgba(75, 0, 130, 0.3);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(17, 17, 17, 0.6);
            color: #fff /* Mantém o texto branco */
}


.conta-tos  {
           text-shadow: 0 2px 4px rgba (17, 17, 17, 1);
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 3px;
            background-color: rgba(75, 0, 130, 0.3);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(17, 17, 17, 0.6);
            color: #fff /* Mantém o texto branco */
}

/* Adicione um gradiente de fundo às seções para criar profundidade */
section {
    padding: 50px 20px;
    text-align: center;
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(17, 17, 17, 0.6));
}

/* Adicione uma borda sombreada ao profile-picture */
#profile-picture {
    text-align: center;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #444;
    box-shadow: 0 2px 4px rgba(75, 0, 130, 0.5);
}

.sobre-secao {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3px;
    background-color: rgba(17, 17, 17, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(75, 0, 130, 0.5);
    color: #fff; /* Mantém o texto branco */
}

/* Adicione uma borda sombreada às seções de currículo */
.curriculo-secao {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3px;
    background-color: rgba(17, 17, 17, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(75, 0, 130, 0.5);
    color: #fff; /* Mantém o texto branco */
}

/* Adicione uma caixa na região do contato */
.contato-secao {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3px;
    background-color: rgba(17, 17, 17, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(75, 0, 130, 0.5);
    color: #fff; /* Mantém o texto branco */
}
.contato-info p {
    margin: 0;
}

/* Adicione uma sombra sutil ao footer */
footer {
    background: #111;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(75, 0, 130, 0.5);
}
